.DS_Store
.idea
.ipynb_checkpoints
.openai_cache.db
.nextflow
.notes
.nextflow.*
.poetry
.pybiomart.sqlite
.tern-port
.venv
.zshenv
*.csv
*.H5AD
*.h5ad
*.json
*.log*
*.out
*.parquet
*.pickle
*.txt
__pycache__
data/
poetry
work/